.chat-main
  .chat-main__group-info
    %ul
      %li.chat-main__group-info-name 72期
      %li.chat-main__group-info-member Menber : kouji
    .chat-edit
      = link_to "#", class:"edit" do
        %p.edit-btn
          Edit     
  .chat-main__message-list
    .messages
      .message-info
        %p.chat-name kouji
        %p.chat-date 2020/3/4(wed) 17:30
      .chat-message おはようございます！
      .message-info
        %p.chat-name kouji
        %p.chat-date 2020/3/5(wed) 17:30
      .chat-message こんにちは！
    
  .chat-main__message-form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon("fas", "image")
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
