.side-ber
  .side-ber_user-name
    .top-items
      .top-items__name
      = current_user.name
      .top-items__icons
        %li.top-items__icons__edit-user
          = link_to "#" do
            %i.far.fa-edit
        %li.top-items__icons__edit-group
          = link_to edit_user_path(current_user) do
            %i.fas.fa-user-edit
  .groups
    = link_to "#", class:"group" do
      %p.group__group-name
        TECHCAMP
      %p.group__group-message
        応用カリキュラム難しい

